/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #eee;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #1e1e1e;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  margin: 10px;
}
.nopad {
	padding: 0;
	// border-right: solid 1px #1e1e1e	;
	height: 720px;
}

#mapid { height: 720px; }
#crisis-selector {
	height: 720px;;
	background-color: #eee;
}