/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #eee;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #1e1e1e;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  margin: 10px;
}


#mapid { height: 720px; }

#crisis-selectorCol {
	padding-right: 0px;
}
#mapCol {
	padding-left: 0px;
}
#crisis-selector {
	height: 720px;;
	background-color: #eee;
	// padding: 20px;
	margin: 0 auto;
	width: 100%;

}

#chat_container {
	display: none;
}
.nopad {
	padding-right: 0px;
}

.back-nav {
	background-color: #1e1e1e;
	width: 100%;
	height: 40px;
	top: 0px;
	left: 0px;
	display: none;
	color: #eee;
}

.back-nav p {
	line-height: 40px;
	margin-left: 20px;

}

.back-nav p:hover {
	cursor: pointer;

}

#crisis-list {
	list-style: none;
	padding: 0;
	text-align: center;
}

.crisis {
	padding: 20px 0px 20px 0px;
	text-align: center;
	// height: 40px;
	cursor: pointer;	
}
